@use '../base/variables' as *;

.card {
    background: $card-bg;

    &__picture {
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        background-color: $card-picture-bg;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        will-change: transform;
    }

    &__body {
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__date-time,
    &__source {
        width: 50%;
    }
    
    &__source {
        @media (max-width: 425px) {
            font-size: 12px;
        }
    }

    &__date-time {
        text-align: right;
        
        @media (max-width: 425px) {
            font-size: 12px;
        }
    }

    &__label,
    &__date {
        font-size: 16px;
        display: block;
        margin-bottom: 7px;
        
        @media (max-width: 425px) {
            font-size: 14px;
        }
    }
    
    &__stat-value {
        @media (max-width: 425px) {
            font-size: 12px;
        }
    }

    &__stats {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__col {
        &--stats {
            width: calc(50% - 4px);
        }

        &--upload-time {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            margin-top: 16px;
        }
    }

    &:hover .card__img {
        transform: scale(1.05);
    }
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 8px;

    @media (max-width: 850px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 680px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 460px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    &.cards-grid--list {
        grid-template-columns: 1fr;

        .card {
            display: flex;

            &__picture {
                width: 86px;
                height: 86px;
            }

            &__body {
                flex: 1;
                display: flex;
                align-items: center;
                padding: 16px 30px;

                .card__col {
                    width: calc(33.3% - 6px);

                    .card__stats {
                        flex-direction: row;
                        gap: 26px;
                    }
                    
                    .card__source {
                        width: 100%;
                    }

                    &--upload-time {
                        margin-top: 0;
                        flex-direction: column;

                        .card__date-time {
                            text-align: left;
                            width: auto;
                        }
                    }
                }
            }
            
            @media (max-width: 550px) {
                .card__picture {
                    width: 110px;
                    height: 110px;
                }
                
                .card__body {
                    padding: 16px;
                    
                    .card__col {
                        &--upload-time {
                            width: 100%;
                            flex-direction: row;
                            justify-content: flex-start;
                            margin-top: 10px;
                            
                            .card__source {
                                width: auto;
                            }
                            
                            .card__date-time {
                                margin-left: 0;
                            }
                        }
                        
                        &--stats {
                            width: calc(50% - 4px);

                            .card__stats {
                                gap: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
