//Base
$font-roboto: 'Roboto', 'Arial', sans-serif;
$font-montserrat: 'Montserrat', 'Arial', sans-serif;
$border-color: #DEDEDE;
$main-bg-color: #fafafa;

//Buttons
$btn-border-radius: 14px;
$btn-outlined-color: #929292;
$btn-outlined-text-color: #929292;